<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--Fonts-->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext' rel='stylesheet'
        type='text/css'>
</head>
<body>

<header>
  <div class="container">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" data-current="index" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-current="about" href="about.html">About</a>
      </li>
    </ul>

  </div>
</header>
