RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
RewriteRule ^(.*)$ - [E=BASE:%1]

RewriteCond %{REQUEST_METHOD} !POST
RewriteCond %{THE_REQUEST} /(.+?)\.html[\s?] [NC]
RewriteRule ^ %1 [R=302,L,NE]

RewriteRule ^(.*)index$ %{ENV:BASE} [R=301,NC,L]

# To internally forward /dir/file to /dir/file.html
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}\.html -f [NC]
RewriteRule ^(.+?)/?$ %{ENV:BASE}$1.html [L]

