{{> partials/header}}

<section style="text-align: center;">
  <div class="container">
    <h1 style="text-align: center;">Javascript custom boilerplate by @lomboboo</h1>

    <img src="public/img/example.svg" alt="example" width="300px">
  </div>
</section>


{{> partials/footer}}

